{
  "BT_LOGGING_LEVEL": "{{ getenv "BT_LOGGING_LEVEL"}}",
  "CONNECTIONSTRING": "{{ getenv "CONNECTIONSTRING"}}",
  "EMAILSERVICEURI"": "{{ getenv "EMAILSERVICEURI""}}",
  "ARCUSERSERVICEURI"": "{{ getenv "ARCUSERSERVICEURI""}}",
  "AWS_REGION": "{{ getenv "AWS_REGION"}}",
  "Logging:LogLevel:Default": "{{ getenv "BT_LOGGING_LEVEL"}}",
  "Logging:LogLevel:Microsoft": "Warning",
  "Logging:LogLevel:System": "Warning"
}